/* Sélécteur universel : sélectionne tous les éléments HTML de la page */
/* rénitialisation (reset) du site */
* {
    margin: 0;
    padding: 0;
    /* Gérer correctement la taille */
    /* l'élément Div avec 300px du width : il correspond à la larguer totale de l'élément, bordure et padding compris */
    /* sans le border box cela serait 350 comme calculé ci dessous */
    box-sizing: border-box;
}

/* content-box : Comprtement du CSS par défaut */
/* largeur réelle => 300 contenu + 40px padding (padding-left + padding-right) + 10px bordure (border-left + border-right) = 350px */
/* div {
    width: 300px;
    padding: 20px;
    border: 5px solid
} */

/* pour les a qui sont enfants de header */
header a , footer a {
    text-decoration: none;
    color: magenta;
}

header , footer{
    background-color: #f8f9fa;
    padding: 20px;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(223, 223, 223, 0.725);
}

/* main */

main {
    /* une limite maximale, pas une largeur obligatoire */
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.presentation {
    color: blue;
    font-size: 25px;
}

#products {
     color: red;
    font-weight: 900;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.home.link {
    color: #007bff;
    font-weight: bold;
}

img {
    width: 160px;
    height: 200px;
}

table img {
    width: 100px;
    height: 125px;
}

.Title {
    color: #043e8a;
    font-weight: bold;
    padding: 10px 20px 15px 20px;
    /* padding :
    - top 10px 
    - right 20px 
    - bottom 15px 
    - left 20px */
    border: 1px dashed black;
    margin: 10px 10px 10px 10px;
}

.form {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    /* 20px => marge en haut et en bas (axe vertical) */
    /* auto => navigateur calcule auto les marges gauche/droite pour centrer l'élément horizontalement */
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}

.fieldset {
    border: 1px solid black;
    padding: 15px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.signup-legend {
    font-weight: bold;
    padding: 5px;
    /*gap: 50px; utile uniquement avec flex ou grid*/
}

.form div {
    margin-bottom: 15px;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#nom {
    border: 1px dotted red;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.sign-button {
    
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}